@page
@model CV_Project.Pages.CVs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CV</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CV.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CV.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.CV.Image" width="300px" height="auto"/>
        </dd>
        <ul>
            <p>Skills</p>
            @foreach(var skill in Model.CV.HasSkills)
            {
                <li>@skill.Skill.SkillName</li>
            }
        </ul>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CV.CVID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
